/Makefile
/Makefile.in
/deprecated
/libpicmanwidgets.args
/libpicmanwidgets.hierarchy
/libpicmanwidgets.interfaces
/libpicmanwidgets.prerequisites
/libpicmanwidgets.signals
/libpicmanwidgets-decl.txt
/libpicmanwidgets-decl-list.txt
/libpicmanwidgets-unused.txt
/libpicmanwidgets-undeclared.txt
/libpicmanwidgets-undocumented.txt
/html
/xml
/version
/.libs
/*.bak
/*.stamp
