/libpicmanwidgets-unused.sgml
/*.bak
/picman3migration.sgml
/picmanbrowser.sgml
/picmanbutton.sgml
/picmancairo-utils.sgml
/picmancellrenderercolor.sgml
/picmancellrenderertoggle.sgml
/picmanchainbutton.sgml
/picmancolorarea.sgml
/picmancolorbutton.sgml
/picmancolordisplay.sgml
/picmancolordisplaystack.sgml
/picmancolorhexentry.sgml
/picmancolornotebook.sgml
/picmancolorprofilecombobox.sgml
/picmancolorprofilestore.sgml
/picmancolorscale.sgml
/picmancolorscales.sgml
/picmancolorselect.sgml
/picmancolorselection.sgml
/picmancolorselector.sgml
/picmancontroller.sgml
/picmandialog.sgml
/picmanenumcombobox.sgml
/picmanenumlabel.sgml
/picmanenumstore.sgml
/picmanenumwidgets.sgml
/picmanfileentry.sgml
/picmanframe.sgml
/picmanhelpui.sgml
/picmanhintbox.sgml
/picmanintcombobox.sgml
/picmanintstore.sgml
/picmanmemsizeentry.sgml
/picmannumberpairentry.sgml
/picmanoffsetarea.sgml
/picmanoldwidgets.sgml
/picmanpageselector.sgml
/picmanpatheditor.sgml
/picmanpickbutton.sgml
/picmanpixmap.sgml
/picmanpreview.sgml
/picmanpreviewarea.sgml
/picmanpropwidgets.sgml
/picmanquerybox.sgml
/picmanruler.sgml
/picmanscrolledpreview.sgml
/picmansizeentry.sgml
/picmanstringcombobox.sgml
/picmanunitcombobox.sgml
/picmanunitmenu.sgml
/picmanunitstore.sgml
/picmanwidgets.sgml
/picmanzoommodel.sgml
