/Makefile
/Makefile.in
/deprecated
/libpicmanmath.args
/libpicmanmath-decl.txt
/libpicmanmath-decl-list.txt
/libpicmanmath.hierarchy
/libpicmanmath.interfaces
/libpicmanmath.prerequisites
/libpicmanmath.signals
/libpicmanmath-unused.txt
/libpicmanmath-undeclared.txt
/libpicmanmath-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
