/Makefile
/Makefile.in
/deprecated
/libpicmanbase.args
/libpicmanbase-decl.txt
/libpicmanbase-decl-list.txt
/libpicmanbase.hierarchy
/libpicmanbase.interfaces
/libpicmanbase.prerequisites
/libpicmanbase.signals
/libpicmanbase-unused.txt
/libpicmanbase-undeclared.txt
/libpicmanbase-undocumented.txt
/html
/tmpl
/xml
/version
/*.bak
/*.stamp
