/Makefile
/Makefile.in
/deprecated
/libpicmancolor.args
/libpicmancolor-decl.txt
/libpicmancolor-decl-list.txt
/libpicmancolor.hierarchy
/libpicmancolor.interfaces
/libpicmancolor.prerequisites
/libpicmancolor.signals
/libpicmancolor-unused.txt
/libpicmancolor-undeclared.txt
/libpicmancolor-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
