/Makefile
/Makefile.in
/deprecated
/libpicman.args
/libpicman.hierarchy
/libpicman.interfaces
/libpicman.prerequisites
/libpicman.signals
/libpicman-decl.txt
/libpicman-decl-list.txt
/libpicman-unused.txt
/libpicman-undeclared.txt
/libpicman-undocumented.txt
/html
/xml
/version
/.libs
/*.bak
/*.stamp
