/Makefile
/Makefile.in
/deprecated
/libpicmanconfig.args
/libpicmanconfig-decl.txt
/libpicmanconfig-decl-list.txt
/libpicmanconfig.hierarchy
/libpicmanconfig.interfaces
/libpicmanconfig.prerequisites
/libpicmanconfig.signals
/libpicmanconfig-unused.txt
/libpicmanconfig-undeclared.txt
/libpicmanconfig-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
