.deps
.libs
/picmandir-output
Makefile
Makefile.in
libpicmanapptestutils.a
test-core*
test-picmanidtable*
test-picmantilebackendtilemanager*
test-layer-grouping*
test-save-and-export*
test-session-2-6-compatibility*
test-session-2-8-compatibility-multi-window*
test-session-2-8-compatibility-single-window*
test-single-window-mode*
test-tools*
test-ui*
test-window-management*
test-xcf*
