/Makefile
/Makefile.in
/deprecated
/libpicmanmodule.args
/libpicmanmodule.hierarchy
/libpicmanmodule.interfaces
/libpicmanmodule.prerequisites
/libpicmanmodule.signals
/libpicmanmodule-decl.txt
/libpicmanmodule-decl-list.txt
/libpicmanmodule-unused.txt
/libpicmanmodule-undeclared.txt
/libpicmanmodule-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
