/Makefile
/Makefile.in
/deprecated
/libpicmanthumb.args
/libpicmanthumb.hierarchy
/libpicmanthumb.interfaces
/libpicmanthumb.prerequisites
/libpicmanthumb.signals
/libpicmanthumb-decl.txt
/libpicmanthumb-decl-list.txt
/libpicmanthumb-unused.txt
/libpicmanthumb-undeclared.txt
/libpicmanthumb-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
